// @import 'partials/materialize';
*, *:before, *:after{
	box-sizing: border-box;
}

body{
	font-size: 16px;
}

label, input{
	font-size: 1.5rem;
	width: 100%;
}

button, select, input[type="text"]{
	width: 100%;
	font-size: inherit;
	padding: .5rem;
	border: 0;

	&:not([multiple]){
		border-bottom: 1px solid grey;	
	}
}

.input-group{
	margin: 1rem 0;
	font-size: 1.5rem;
	width: 100%;
}

.container{
	max-width: 960px;
	width: 100%;
	margin: auto;
}

.flex{
	display: flex;
}

.tracker-input{
	@each $input in ("jira", "kentico", "bugherd", "asana"){
		[data-tracker-input="#{$input}"] ~ &:not(#{&}--#{$input}){
			display: none;
		}
	}
	
}