doctype html
html
	title Webcoda Dev Options
	link(rel="stylesheet", href="main.css")
body
	.container
		.row
			.col.s12
				.form
					label.form-label(for="website") Website:
					select#website.form-select
						each val in ['kentico', 'jira', 'bugherd', 'asana']
							option.option.option--capitalize(value=val)=val
					button.btn.form-btn Add
	script(src="options.js")