doctype html
html
	title Webcoda Dev Options
	link(rel="stylesheet", href="main.css")
body
	.container
		h1 Webcoda DEV Extension
		form.form
			.input-group(data-tracker-input="kentico")
				label.form-label(for="trackerType") Type:
				select#trackerType.form-select
					each val in ['kentico', 'jira', 'bugherd', 'asana']
						option.option.option--capitalize(value=val)=val
			.input-group
				label.form-label(for="url") URL:
				input(type="text" id="url" required placeholder="Enter domain name (without protocol)")

			.input-group.tracker-input.tracker-input--jira
				label.form-label(for="jiraProject") Jira Project
				input(type="text" id="jiraProject" placeholder="e.g. WEBCMS form https://web.com/browse/WEBCMS-196")

			.input-group.tracker-input.tracker-input--bugherd
				label.form-label(for="bugherdProject") Bugherd Project
				input(type="text" id="bugherdProject")

			.input-group.tracker-input.tracker-input--asana
				label.form-label(for="asanaProject") Asana Project
				input(type="text" id="asanaProject")

			button(type="submit").btn.form-btn.js-add Add

		h2 Sites added:
		.flex
			button(type="button" class="js-delete" style="margin-right: 10px") Delete
			button(type="button" class="js-clear-all") Clear All
		.input-group
			select#chosen(multiple)
			
				
	script(src="./jquery.min.js")
	script(src="./options.js")
